<div class="container">
  <h1>Forbidden</h1>
  <h3>
    {{#if error}}
      {{error}}
    {{else}}
      You don't have permission to see the page you're trying to reach.
    {{/if}}
  </h3>
  {{#if data}}
    Message: <code>{{data}}</code>
  {{/if}}
  
  <p class="help">
    Try <a href="/login">logging in</a>?
  </p>
</div>